.shopping-navbar {
    position: fixed;
    background-color: black;
}

.shopping-logo a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 1px 1px grey;
}

@media (min-width: 768px) {
    .shopping-logo {
        color: black;
    }
    .shopping-navbar {
        background: none;
    }
  }