.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    color: white;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0rem 2rem;
}

.logo a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 1px 1px grey;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    cursor: pointer;
}

.select-women {
    margin-right: 3rem;
}

.selected {
    border-bottom: 2px solid white;
}

.not-selected {
    border-bottom: none;
}

.cart img {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.5rem;
}