.navbar ul {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.logo a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    cursor: pointer;
}

.select-women {
    margin-right: 3rem;
}

.selected {
    border-bottom: 2px solid black;
}

.not-selected {
    border-bottom: none;
}

.cart img {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.5rem;
}